lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
logs
results
tmp

#Build
public/css/main.css

# API keys and secrets
.env

# Data directory
data/ai/**/*
data/futures/**/*

# Dependency directory
node_modules
bower_components

# Lock file
yarn.lock

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# Ignore settings files.
.env.*
src/config/environment/local.ts
src/config/environment/production.ts
src/config/environment/staging.ts
